.configuration-heading1 {
  font-size: 1.6rem;
  font-weight: bold;
}

.configuration-heading2 {
  font-size: 1.4rem;
  font-weight: bolder;
}

.configuration-heading3 {
  font-size: 1.2rem;
}

.sentence-configuration {
  border: #ddd solid 1px;
  border-radius: 5px;
  padding: 1vw;
  margin: 0.5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.study-area {
  max-width: 1200px;
  margin: auto;
}

.study-area-button {
  margin-right: 1vw !important;
  width: 22ch;
}


.study-area-solution {
  font-style: italic;
  height: 5ch;
  text-align: center;
}

.study-area-source {
  font-size: 2rem;
  font-style: italic;
  padding-bottom: 1vh;
  text-align: center;
}

.study-area-source2 {
  font-size: 1.5rem;
  font-style: italic;
  padding-bottom: 5vh;
  text-align: center;
}